src/lib/Node_Red/Not dobot version/Flow_Labels_View.json
[{"id":"639d7787fd11f2ad","type":"tab","label":"Inputs","disabled":false,"info":"","env":[]},{"id":"766593cac316c85d","type":"ui_form","z":"639d7787fd11f2ad","name":"Enter _Labels","label":"Enter Labels","group":"8a8b89a47a0e2331","order":2,"width":15,"height":1,"options":[{"label":"View","value":"view","type":"text","required":true,"rows":null},{"label":"Required Labels","value":"labels","type":"text","required":true,"rows":null}],"formValue":{"view":"","labels":""},"payload":"","submit":"submit","cancel":"cancel","topic":"inputs","x":400,"y":1400,"wires":[["6c96cef07895991e","07442a4b1e5c2f9d"]]},{"id":"6c96cef07895991e","type":"debug","z":"639d7787fd11f2ad","name":"form output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1400,"wires":[]},{"id":"76bf93dafd547ce1","type":"ui_form","z":"639d7787fd11f2ad","name":"Export Filename","label":"Filename:","group":"2f03a5b0cf0c7990","order":1,"width":0,"height":0,"options":[{"label":"Filename","value":"filename","type":"text","required":true,"rows":null}],"formValue":{"filename":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","x":540,"y":520,"wires":[["aa5dc88c089b2125","032b4178ed7899d1","91c821a6136ba2a4","e7907c513c4f7b06","e7eec4385cb6253b","4fda7ff73aa4c0d2","a5713537f352282d"]]},{"id":"aa5dc88c089b2125","type":"function","z":"639d7787fd11f2ad","name":"Hide Inputs","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_Label_Checking\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_Label_Checking\"]}}\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":420,"wires":[["78e34413bda3bd96"]]},{"id":"032b4178ed7899d1","type":"debug","z":"639d7787fd11f2ad","name":"filename","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":680,"wires":[]},{"id":"fc4b58786ec0498c","type":"inject","z":"639d7787fd11f2ad","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Hide","payloadType":"str","x":570,"y":440,"wires":[["aa5dc88c089b2125","91c821a6136ba2a4","e7907c513c4f7b06","4fda7ff73aa4c0d2","4049421590dc0d31","a5713537f352282d","bf3ba9b30f4cf3de"]]},{"id":"48e627ee2bdf720a","type":"comment","z":"639d7787fd11f2ad","name":"Get Filename","info":"This section contains a UI node, which is connected to function nodes. The function nodes have if else statements which will send a message to the UI node, allowing the dashboard to either hide or view groups of UI interface. \nThere are 2 close buttons for both export/import filename interface. An initial Hide is sent to the functions to set the initial state of the UI display.\nExport and import filename are forms that allow the user to create a new file with name X or import data from a file name X respectively. They will also have a hand in opening the right UI for the user.\nImport filename is connected to extra functions which pass relevent information to the python script thereby being able to facilitate the transfer of data from the csv file into the node red UI\nClose buttons are also attached to function nodes which will reset the data within the interface, without it the previous interaction with the node red interfaces data will display onto the table where it shouldn't. This also resets certain counter variables that exist within the node red flow.","x":450,"y":180,"wires":[]},{"id":"66764194569ba00a","type":"mqtt out","z":"639d7787fd11f2ad","name":"","topic":"topic/filename","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3010ea4435b1a8fe","x":1200,"y":740,"wires":[]},{"id":"6b52503aac2f7b61","type":"comment","z":"639d7787fd11f2ad","name":"Get Labels and view ","info":"This section contains the flow that will facilitate gathering data and storing them in variables as well as displaying it on the user interface. \nEnter labels is for export data Augment Labels is for impport data. Both of these are simple forms which take the input and pass it through template node to format the data and then into a function node to store the data. The table node will display the data on the user interface.\nThe table node is looped back into the forms so that when a user selects a particular row of data from the table, the form will also receive the data, thus allowing the user to easily augment small pieces of data as opposed to having the user re-enter all the data.\nImported data comes from the MQTT node topic/recv_csv and is sent through a function node to augment the received input as necessary to display it properly. Note that the function used to augment the data is poorly done and thus is a place where improvements can be made.\nUpon clicking on a row in the table, the functions to the right of the table will compute the row number you have selected and display it on the user interface\n","x":430,"y":1220,"wires":[]},{"id":"cf5832d43ae89f29","type":"ui_table","z":"639d7787fd11f2ad","group":"8a8b89a47a0e2331","name":"List of added labels","order":1,"width":15,"height":7,"columns":[],"outputs":1,"cts":true,"x":1550,"y":1540,"wires":[["766593cac316c85d","4ebd342b23e7454c"]]},{"id":"747537b344d15b8e","type":"debug","z":"639d7787fd11f2ad","name":"Table output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":1440,"wires":[]},{"id":"f77958707d7e6250","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"counter","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1820,"wires":[["82be3dab1154f004"]]},{"id":"1145e9ffebc5beae","type":"debug","z":"639d7787fd11f2ad","name":"Table Cleared","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":1820,"wires":[]},{"id":"70239eeac7b3d852","type":"inject","z":"639d7787fd11f2ad","name":"Intialize Counter & Clear Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":650,"y":1820,"wires":[["f77958707d7e6250","049047350abf17c9"]]},{"id":"82be3dab1154f004","type":"function","z":"639d7787fd11f2ad","name":"Clear Table","func":"return {payload: \"Table Cleared\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1820,"wires":[["1145e9ffebc5beae","cf5832d43ae89f29"]]},{"id":"ce7185dda2fd0410","type":"template","z":"639d7787fd11f2ad","name":"parse inputs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"labels\": \"{{payload.labels}}\",\n    \"view\": \"{{payload.view}}\"\n}","output":"json","x":610,"y":1600,"wires":[["86c5ff9f2e0faba4"]]},{"id":"8ef1c80742d83472","type":"mqtt in","z":"639d7787fd11f2ad","name":"","topic":"topic/recv_csv","qos":"2","datatype":"auto","broker":"66e58af5a6dc7f5a","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":1680,"wires":[["964d29880c8e7569","97c0187adb37ba1a"]]},{"id":"8f23cfe972414088","type":"ui_button","z":"639d7787fd11f2ad","name":"Save","group":"eeeb8d971e576350","order":1,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"outputs","payloadType":"flow","topic":"output","x":2470,"y":360,"wires":[["13bb163bd975df3f","c5ecc692847b4f14"]]},{"id":"86c5ff9f2e0faba4","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"input","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"inputData","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1600,"wires":[["b16dc91389a251f9"]]},{"id":"964d29880c8e7569","type":"debug","z":"639d7787fd11f2ad","name":"MQTT out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":1740,"wires":[]},{"id":"dd6dbfd6dfd7a86c","type":"mqtt out","z":"639d7787fd11f2ad","name":"","topic":"topic/recv_data","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3010ea4435b1a8fe","x":2860,"y":440,"wires":[]},{"id":"13bb163bd975df3f","type":"debug","z":"639d7787fd11f2ad","name":"Parsed outputs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2860,"y":360,"wires":[]},{"id":"85522521d38f1a5b","type":"function","z":"639d7787fd11f2ad","name":"Arange Inputs","func":"let input = flow.get(\"input\");\nlet counter = flow.get(\"counter\");\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\nvar selected_row = flow.get(\"selectedRow\") || 0;\n\nlet output =[];\nif (msg.topic == \"clearTable\")\n{\n    output = flow.get(\"outputs\");\n    output = [];\n    counter = 0;\n    flow.set(\"outputs\", output);\n}\nelse if (selected_row != 0 && msg.topic != \"deletePoint\")\n{\n    output = flow.get(\"outputs\");\n    output[selected_row -1]= input;\n    flow.set(\"outputs\", output);\n    selected_row = 0;\n    flow.set(\"selectedRow\",selected_row);\n}\nelse if (msg.topic == \"inputData\")\n{\n    if (counter == 0)\n    {\n        output =[input];\n        flow.set(\"outputs\", output);\n        counter++;\n    \n    }\n    else\n    {\n        output = flow.get(\"outputs\");\n        output[counter]= input;\n        counter++;\n    }\n}\nelse if(msg.topic == \"deletePoint\")\n{\n    output = flow.get(\"outputs\");\n    output.splice(selected_row-1,1);\n    flow.set(\"outputs\", output);\n    \n    counter--; \n    \n    if(output.length == 0)\n    {\n        counter = 0;\n    }\n\n}\n\n\nmsg.payload = output;\n//counter++;\nflow.set(\"counter\", counter);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1540,"wires":[["747537b344d15b8e","cf5832d43ae89f29"]]},{"id":"91c821a6136ba2a4","type":"function","z":"639d7787fd11f2ad","name":"Hide Save Button","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_Save_Labels\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_Save_Labels\"]}}\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":300,"wires":[["78e34413bda3bd96"]]},{"id":"6c7b6b2252bde417","type":"comment","z":"639d7787fd11f2ad","name":"Save Labels","info":"These nodes will save the data from node red to the csv file\nThere are 2 save buttons for both import and export\nthe function node will count the rows of data and add a final row with the text end before sending to node red\nThe end is necessary to ensure the data sent back from node red has no problems, this is actually a little uncessary but because of the lack of time I am unable to fix it. This is another area in which improvments can be made\n","x":2490,"y":280,"wires":[]},{"id":"e7907c513c4f7b06","type":"function","z":"639d7787fd11f2ad","name":"Hide Filename","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_Export_Data\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_Export_Data\"]}}\n    \n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":580,"wires":[["78e34413bda3bd96"]]},{"id":"e7eec4385cb6253b","type":"function","z":"639d7787fd11f2ad","name":"","func":"filename = msg.payload.filename;\nemptyarr = \"\";\nfullname = emptyarr.concat(\"/\",filename,\".csv\");\nmsg.payload = fullname;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":740,"wires":[["66764194569ba00a"]]},{"id":"039c5179e01b699f","type":"ui_button","z":"639d7787fd11f2ad","name":"","group":"eeeb8d971e576350","order":2,"width":0,"height":0,"passthru":false,"label":"Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hide","payloadType":"str","topic":"topic","x":570,"y":360,"wires":[["91c821a6136ba2a4","aa5dc88c089b2125","e7907c513c4f7b06","4fda7ff73aa4c0d2","4049421590dc0d31","1e12c37a62ebd6c9","a5713537f352282d","4729423eb1575945","bf3ba9b30f4cf3de"]]},{"id":"4fda7ff73aa4c0d2","type":"function","z":"639d7787fd11f2ad","name":"Hide Filename","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_Import_Data\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_Import_Data\"]}}\n    \n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":640,"wires":[["78e34413bda3bd96"]]},{"id":"0d272ea0a40ce898","type":"ui_form","z":"639d7787fd11f2ad","name":"Import Filename","label":"Filename:","group":"fbc9470b4a6b904a","order":1,"width":0,"height":0,"options":[{"label":"Filename","value":"filename","type":"text","required":true,"rows":null}],"formValue":{"filename":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","x":540,"y":600,"wires":[["e7eec4385cb6253b","032b4178ed7899d1","e7907c513c4f7b06","4fda7ff73aa4c0d2","4049421590dc0d31","5a5d5598eb812321","a5713537f352282d","bf3ba9b30f4cf3de"]]},{"id":"4049421590dc0d31","type":"function","z":"639d7787fd11f2ad","name":"View Label","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_View_Label\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_View_Label\"]}}\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":500,"wires":[["78e34413bda3bd96"]]},{"id":"5a5d5598eb812321","type":"function","z":"639d7787fd11f2ad","name":"","func":"if (msg)\n{\n    msg.payload = \"GetData\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":800,"wires":[["7d3b3659e888fbb3"]]},{"id":"7d3b3659e888fbb3","type":"delay","z":"639d7787fd11f2ad","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":800,"wires":[["c092073ca31e71e0"]]},{"id":"c092073ca31e71e0","type":"mqtt out","z":"639d7787fd11f2ad","name":"","topic":"topic/CoreFunc","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f6f8c09749e6d95","x":1200,"y":800,"wires":[]},{"id":"c5ecc692847b4f14","type":"function","z":"639d7787fd11f2ad","name":"","func":"let input = msg.payload;\nlet counter = flow.get(\"counter\");\nlet counterRecv = flow.get(\"counterRecv\");\n\nif (msg.topic == \"output\")\n{\ninput[counter]= \"end\";\ncounter++\nflow.set(\"counter\", counter);\n}\n\nif (msg.topic == \"update\")\n{\ninput[counterRecv]= \"end\";\ncounterRecv++\nflow.set(\"counterRecv\", counterRecv);\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":400,"wires":[["dd6dbfd6dfd7a86c"]]},{"id":"049047350abf17c9","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"counterRecv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1880,"wires":[["82be3dab1154f004"]]},{"id":"97c0187adb37ba1a","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1680,"wires":[["b711e08382055c81","75ccf8a11e54a918"]]},{"id":"b711e08382055c81","type":"function","z":"639d7787fd11f2ad","name":"View Inputs","func":"input = flow.get(\"data\");\nlet counter = flow.get(\"counterRecv\");\n\n\nlet angleStr = input.slice(8,input.length-3);\nlet angleArray = angleStr.split(\",\");\n\nlet ArrLab = angleArray[0]\nlet ArrView = angleArray[1]\n\nArrLab = ArrLab.split(\":\");\nArrView = ArrView.split(\":\");\nArrLab = ArrLab[1];\nArrView = ArrView[1];\nArrLab = ArrLab.slice(2,ArrLab.length-1);\nArrView = ArrView.slice(2,ArrView.length-1);\n\nFinalArr = [ArrLab,ArrView]\n\nstoreArray = flow.get(\"storeArr\");\nif (counter == 0)\n{\n    storeArray = [\n        {\n            labels : FinalArr[0],\n            view : FinalArr[1]\n            \n        }\n        ]\n\n}\nelse\n{\n        //optionsArr.push(counter);\n        storeArray.push(\n            {\n            labels : FinalArr[0],\n            view : FinalArr[1]\n                \n            }\n            )\n}\ncounter++;\nmsg.payload = storeArray;\nflow.set(\"storeArr\", storeArray);\nflow.set(\"counterRecv\", counter);\nstoreArray = {}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1680,"wires":[["6972e186acf41b6b","1d599bdd6553f5b8"]]},{"id":"1e12c37a62ebd6c9","type":"function","z":"639d7787fd11f2ad","name":"","func":"let Arr = [];\nlet counter = 0;\nflow.set(\"counterRecv\",counter);\nflow.set(\"counter\",counter);\nflow.set(\"outputs\", Arr);\nflow.set(\"storeArr\",Arr);\nflow.set(\"selectedRow\",counter);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":240,"wires":[["23b5e432cd85f27c"]]},{"id":"f87177a9b05e2844","type":"ui_button","z":"639d7787fd11f2ad","name":"","group":"206faeeff792465e","order":2,"width":0,"height":0,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"deletePoint","x":810,"y":1400,"wires":[["85522521d38f1a5b","b16dc91389a251f9"]]},{"id":"a5713537f352282d","type":"function","z":"639d7787fd11f2ad","name":"Hide Augment Data","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_Augment_Data\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_Augment_Data\"]}}\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":700,"wires":[["78e34413bda3bd96"]]},{"id":"4ebd342b23e7454c","type":"function","z":"639d7787fd11f2ad","name":"","func":"let rowNum = 0;\nrowNum = msg.row;\nrowNum = rowNum + 1; \n\nflow.set(\"selectedRow\",rowNum);\nmsg.payload = rowNum; \nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nrowNum = 0;\nflow.set(\"selectedRow\",rowNum);","finalize":"","libs":[],"x":1900,"y":1620,"wires":[["e2c4666000b323dd","9b3b067e950c6638"]]},{"id":"e2c4666000b323dd","type":"ui_text","z":"639d7787fd11f2ad","group":"206faeeff792465e","order":1,"width":0,"height":0,"name":"","label":"Selected point:","format":"{{msg.payload}}","layout":"row-left","x":2100,"y":1620,"wires":[]},{"id":"4729423eb1575945","type":"link out","z":"639d7787fd11f2ad","name":"","mode":"link","links":["6408c33aefb74f5a"],"x":715,"y":220,"wires":[]},{"id":"6408c33aefb74f5a","type":"link in","z":"639d7787fd11f2ad","name":"","links":["4729423eb1575945"],"x":1075,"y":1340,"wires":[["5e208fd6ce891444"]]},{"id":"23b5e432cd85f27c","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"clearTable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":240,"wires":[[]]},{"id":"2da43d83f71a55b2","type":"ui_form","z":"639d7787fd11f2ad","name":"Augment_Labels","label":"Enter Labels","group":"b62e2bf551811893","order":2,"width":15,"height":1,"options":[{"label":"View","value":"view","type":"text","required":true,"rows":null},{"label":"Required Labels","value":"labels","type":"text","required":true,"rows":null}],"formValue":{"view":"","labels":""},"payload":"","submit":"submit","cancel":"cancel","topic":"inputs","x":410,"y":1600,"wires":[["ce7185dda2fd0410"]]},{"id":"b16dc91389a251f9","type":"function","z":"639d7787fd11f2ad","name":"Arange Inputs","func":"let input = flow.get(\"input\");\nlet counter = flow.get(\"counterRecv\");\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\nvar selected_row = flow.get(\"selectedRow\") || 0;\n\nlet output =[];\nif (msg.topic == \"clearTable\")\n{\n    output = flow.get(\"storeArr\");\n    output = [];\n    counter = 0;\n    flow.set(\"storeArr\", output);\n}\nelse if (selected_row != 0 && msg.topic != \"deletePoint\")\n{\n    output = flow.get(\"storeArr\");\n    output[selected_row -1]= input;\n    flow.set(\"storeArr\", output);\n    selected_row = 0;\n    flow.set(\"selectedRow\",selected_row);\n}\nelse if (msg.topic == \"inputData\")\n{\n    if (counter == 0)\n    {\n        output =[input];\n        flow.set(\"storeArr\", output);\n        counter++;\n    \n    }\n    else\n    {\n        output = flow.get(\"storeArr\");\n        output[counter]= input;\n        counter++;\n    }\n}\nelse if(msg.topic == \"deletePoint\")\n{\n    output = flow.get(\"storeArr\");\n    output.splice(selected_row-1,1);\n    flow.set(\"storeArr\", output);\n    \n    counter--; \n    \n    if(output.length == 0)\n    {\n        counter = 0;\n    }\n    \n}\n\n//output = selected_row\nmsg.payload = output;\n//counter++;\nflow.set(\"counterRecv\", counter);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1600,"wires":[["dec3ddb8d74e859d","1d599bdd6553f5b8"]]},{"id":"dec3ddb8d74e859d","type":"debug","z":"639d7787fd11f2ad","name":"Table output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":1580,"wires":[]},{"id":"6972e186acf41b6b","type":"debug","z":"639d7787fd11f2ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1610,"y":1760,"wires":[]},{"id":"2688b802b5eea0b5","type":"function","z":"639d7787fd11f2ad","name":"","func":"let output = flow.get(\"output\") || 0;\nlet input = flow.get(\"input\") || 0;\n\n//var clearArray = flow.get(\"clearArray\") || \"\";\nvar counter = flow.get(\"counter\") || 0;\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\n\nif (msg.payload == \"deletePoint\")\n{\n    output[delete_rowNum].J1 =0;\n    output[delete_rowNum].J2 =0;\n    output[delete_rowNum].J3 =0;\n    output[delete_rowNum].J4 =0;\n    output[delete_rowNum].J5 =0;\n    output[delete_rowNum].J6 =0;\n    \n\n}\nelse if(msg.payload == \"cover\")\n{\n    output[cover_rowNum]= input;\n\n}\n\n\nflow.set(\"output\", output);\nflow.set(\"counter\",counter);\nflow.set(\"output\", output); \n\nmsg.payload = output;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":1840,"wires":[[]]},{"id":"1d599bdd6553f5b8","type":"ui_table","z":"639d7787fd11f2ad","group":"b62e2bf551811893","name":"List of imported labels","order":1,"width":15,"height":7,"columns":[],"outputs":1,"cts":true,"x":1560,"y":1680,"wires":[["2da43d83f71a55b2","4ebd342b23e7454c"]]},{"id":"9b3b067e950c6638","type":"debug","z":"639d7787fd11f2ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2090,"y":1580,"wires":[]},{"id":"07442a4b1e5c2f9d","type":"template","z":"639d7787fd11f2ad","name":"parse inputs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"labels\": \"{{payload.labels}}\",\n    \"view\": \"{{payload.view}}\"\n}","output":"json","x":610,"y":1540,"wires":[["30a563bb74b222aa"]]},{"id":"30a563bb74b222aa","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"input","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"inputData","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1540,"wires":[["85522521d38f1a5b"]]},{"id":"5e208fd6ce891444","type":"function","z":"639d7787fd11f2ad","name":"ClearTableAfterClose","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1340,"wires":[["cf5832d43ae89f29","1d599bdd6553f5b8"]]},{"id":"6af44166ec3dfd40","type":"ui_button","z":"639d7787fd11f2ad","name":"","group":"b1fae5e00a92a876","order":2,"width":0,"height":0,"passthru":false,"label":"Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hide","payloadType":"str","topic":"topic","x":570,"y":300,"wires":[["4729423eb1575945","1e12c37a62ebd6c9","bf3ba9b30f4cf3de","91c821a6136ba2a4","aa5dc88c089b2125","4049421590dc0d31","e7907c513c4f7b06","4fda7ff73aa4c0d2","a5713537f352282d"]]},{"id":"1d535d5476d4a7b9","type":"ui_button","z":"639d7787fd11f2ad","name":"Save","group":"b1fae5e00a92a876","order":1,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"storeArr","payloadType":"flow","topic":"update","x":2470,"y":440,"wires":[["c5ecc692847b4f14"]]},{"id":"bf3ba9b30f4cf3de","type":"function","z":"639d7787fd11f2ad","name":"Hide Save Button","func":"if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"View_&_Labels_Update_CSV\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"View_&_Labels_Update_CSV\"]}}\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":360,"wires":[["78e34413bda3bd96"]]},{"id":"90551be91cd192d7","type":"ui_button","z":"639d7787fd11f2ad","name":"","group":"b62e2bf551811893","order":3,"width":0,"height":0,"passthru":false,"label":"Run","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Run","payloadType":"str","topic":"topic","x":2490,"y":800,"wires":[["2330a6fafde4ea6c"]]},{"id":"92b06020dae7163b","type":"function","z":"639d7787fd11f2ad","name":"","func":"let Run = flow.get(\"Run\") || 0;\nlet loopCount= flow.get(\"counterRecv\");\nlet counter = flow.get(\"count\") || 0;\n\nif (Run == \"Run\" && counter != loopCount)\n{\n    Arr = flow.get(\"storeArr\");\n    msg.payload = Arr[counter];\n    flow.set(\"count\", counter+1);\n    counter = flow.get(\"count\")\n\n    if(counter == loopCount){\n        flow.set(\"count\", 0);\n        flow.set(\"Run\", 0);\n    }\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2880,"y":800,"wires":[["8c32f7c0a6251265"]]},{"id":"8c32f7c0a6251265","type":"mqtt out","z":"639d7787fd11f2ad","name":"","topic":"topic/runCSV","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f6f8c09749e6d95","x":3130,"y":800,"wires":[]},{"id":"bd33e3887a27598b","type":"inject","z":"639d7787fd11f2ad","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":2630,"y":900,"wires":[["92b06020dae7163b"]]},{"id":"1667e0c0d11aed93","type":"mqtt in","z":"639d7787fd11f2ad","name":"","topic":"topic/runCSV","qos":"2","datatype":"auto","broker":"8f6f8c09749e6d95","nl":false,"rap":true,"rh":0,"inputs":0,"x":2850,"y":520,"wires":[["c01953b958fa7f42"]]},{"id":"c01953b958fa7f42","type":"debug","z":"639d7787fd11f2ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3010,"y":520,"wires":[]},{"id":"2330a6fafde4ea6c","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"Run","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":800,"wires":[["92b06020dae7163b"]]},{"id":"cfa6d36fbb106e59","type":"inject","z":"639d7787fd11f2ad","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":2490,"y":860,"wires":[["2330a6fafde4ea6c"]]},{"id":"daac702b30f8be87","type":"change","z":"639d7787fd11f2ad","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":960,"wires":[[]]},{"id":"1a29cb767a2d68f5","type":"inject","z":"639d7787fd11f2ad","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":2490,"y":960,"wires":[["daac702b30f8be87"]]},{"id":"78e34413bda3bd96","type":"ui_ui_control","z":"639d7787fd11f2ad","name":"","events":"all","x":1980,"y":500,"wires":[[]]},{"id":"75ccf8a11e54a918","type":"debug","z":"639d7787fd11f2ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1057.7451782226562,"y":1737.74951171875,"wires":[]},{"id":"1612b1f1102082a0","type":"comment","z":"639d7787fd11f2ad","name":"Run Labels","info":"The run button will send the labels to the python file one row at a time and the labels will be printed out, upon completion of printing the rows the program will break out of the infinite while loop in the python script, thus ending the program","x":2510,"y":720,"wires":[]},{"id":"76796f4809125313","type":"ui_spacer","z":"639d7787fd11f2ad","name":"spacer","group":"261b992e3a148e38","order":1,"width":"1","height":"2"},{"id":"8a8b89a47a0e2331","type":"ui_group","name":"Label Checking","tab":"94c72e778016e5b7","order":4,"disp":true,"width":"15","collapse":false},{"id":"2f03a5b0cf0c7990","type":"ui_group","name":"Export Data","tab":"94c72e778016e5b7","order":1,"disp":true,"width":"6","collapse":false},{"id":"3010ea4435b1a8fe","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"66e58af5a6dc7f5a","type":"mqtt-broker","name":"localhost:1883","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eeeb8d971e576350","type":"ui_group","name":"Save Labels","tab":"94c72e778016e5b7","order":6,"disp":true,"width":"6","collapse":false},{"id":"fbc9470b4a6b904a","type":"ui_group","name":"Import Data","tab":"94c72e778016e5b7","order":3,"disp":true,"width":"6","collapse":false},{"id":"8f6f8c09749e6d95","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"206faeeff792465e","type":"ui_group","name":"Augment Data","tab":"94c72e778016e5b7","order":5,"disp":true,"width":"6","collapse":false},{"id":"b62e2bf551811893","type":"ui_group","name":"View Label","tab":"94c72e778016e5b7","order":2,"disp":true,"width":"15","collapse":false},{"id":"b1fae5e00a92a876","type":"ui_group","name":"Update CSV","tab":"94c72e778016e5b7","order":7,"disp":true,"width":"6","collapse":false},{"id":"261b992e3a148e38","type":"ui_group","name":"Time","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"94c72e778016e5b7","type":"ui_tab","name":"View & Labels","icon":"mi-my_location","order":5,"disabled":false,"hidden":false}]