src/lib/Node_Red/RFID_Camera_Feed.json
[
   {
      "id":"b58535ab.9ecdd",
      "type":"tab",
      "label":"Deployment",
      "disabled":false,
      "info":""
   },
   {
      "id":"4f0679b9.f33208",
      "type":"mqtt in",
      "z":"b58535ab.9ecdd",
      "name":"Image",
      "topic":"cvsystem/main/publish_frame_0",
      "qos":"1",
      "datatype":"base64",
      "broker":"50156a5afa03b1a1",
      "x":350,
      "y":200,
      "wires":[
         [
            "f5360692.2c0658"
         ]
      ]
   },
   {
      "id":"f5360692.2c0658",
      "type":"ui_template",
      "z":"b58535ab.9ecdd",
      "group":"e7887708505a76c7",
      "name":"Detections",
      "order":3,
      "width":15,
      "height":8,
      "format":"<img width=\"1920\" height=\"1072\" alt=\"\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>\n",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "resendOnRefresh":true,
      "templateScope":"local",
      "x":610,
      "y":200,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"3d608883.d93a68",
      "type":"mqtt in",
      "z":"b58535ab.9ecdd",
      "name":"Image",
      "topic":"cvsystem/main/publish_frame_1",
      "qos":"0",
      "datatype":"base64",
      "broker":"50156a5afa03b1a1",
      "x":350,
      "y":260,
      "wires":[
         [
            "11f1b840.881a98"
         ]
      ]
   },
   {
      "id":"11f1b840.881a98",
      "type":"ui_template",
      "z":"b58535ab.9ecdd",
      "group":"e7887708505a76c7",
      "name":"Detections",
      "order":4,
      "width":15,
      "height":8,
      "format":"<img width=\"1920\" height=\"1072\" alt=\"\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>\n",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "resendOnRefresh":true,
      "templateScope":"local",
      "x":610,
      "y":260,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"717ce6bc.6a03a8",
      "type":"mqtt in",
      "z":"b58535ab.9ecdd",
      "name":"Image",
      "topic":"cvsystem/main/publish_frame_2",
      "qos":"0",
      "datatype":"base64",
      "broker":"50156a5afa03b1a1",
      "x":350,
      "y":320,
      "wires":[
         [
            "80b703c0.f4233"
         ]
      ]
   },
   {
      "id":"80b703c0.f4233",
      "type":"ui_template",
      "z":"b58535ab.9ecdd",
      "group":"e7887708505a76c7",
      "name":"Detections",
      "order":7,
      "width":15,
      "height":8,
      "format":"<img width=\"1920\" height=\"1072\" alt=\"\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>\n",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "resendOnRefresh":true,
      "templateScope":"local",
      "x":610,
      "y":320,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"71d0ff00.c4f47",
      "type":"mqtt in",
      "z":"b58535ab.9ecdd",
      "name":"Image",
      "topic":"cvsystem/main/publish_frame_3",
      "qos":"0",
      "datatype":"base64",
      "broker":"50156a5afa03b1a1",
      "x":350,
      "y":380,
      "wires":[
         [
            "184fcfd3.3847a"
         ]
      ]
   },
   {
      "id":"184fcfd3.3847a",
      "type":"ui_template",
      "z":"b58535ab.9ecdd",
      "group":"e7887708505a76c7",
      "name":"Detections",
      "order":8,
      "width":15,
      "height":8,
      "format":"<img width=\"1920\" height=\"1072\" alt=\"\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>\n",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "resendOnRefresh":true,
      "templateScope":"local",
      "x":610,
      "y":380,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"9b165b68.82b3b8",
      "type":"ui_text_input",
      "z":"b58535ab.9ecdd",
      "name":"",
      "label":"Station 1",
      "tooltip":"",
      "group":"e7887708505a76c7",
      "order":1,
      "width":15,
      "height":1,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":360,
      "y":120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"244bee71.3f35a2",
      "type":"ui_text_input",
      "z":"b58535ab.9ecdd",
      "name":"",
      "label":"Station 2",
      "tooltip":"",
      "group":"e7887708505a76c7",
      "order":2,
      "width":15,
      "height":1,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":500,
      "y":120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"66260248.81e3bc",
      "type":"ui_text_input",
      "z":"b58535ab.9ecdd",
      "name":"",
      "label":"Station 3",
      "tooltip":"",
      "group":"e7887708505a76c7",
      "order":5,
      "width":15,
      "height":1,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":660,
      "y":120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"ce0df33b.0f0a5",
      "type":"ui_text_input",
      "z":"b58535ab.9ecdd",
      "name":"",
      "label":"Station 4",
      "tooltip":"",
      "group":"e7887708505a76c7",
      "order":6,
      "width":15,
      "height":1,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":820,
      "y":120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"50156a5afa03b1a1",
      "type":"mqtt-broker",
      "name":"",
      "broker":"192.168.0.199",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"e7887708505a76c7",
      "type":"ui_group",
      "name":"Default",
      "tab":"cd3008cf.a73998",
      "order":1,
      "disp":false,
      "width":30,
      "collapse":false
   },
   {
      "id":"cd3008cf.a73998",
      "type":"ui_tab",
      "name":"Deployment",
      "icon":"mi-camera",
      "disabled":false,
      "hidden":false
   }
]